* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:root {
  font-size: 62.5%; }
  :root body {
    margin: 0;
    font-size: 1.6rem; }

html,
body,
p,
button,
label {
  font-family: 'Open Sans', sans-serif; }

h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6; }

h1 {
  font-size: 4rem;
  font-weight: 900; }

h2 {
  font-size: 3rem;
  font-weight: 600; }

h3 {
  font-size: 2.5rem;
  font-weight: 400; }

h4 {
  font-size: 2rem;
  font-weight: 400; }

p {
  font-size: 1.8rem;
  opacity: .75; }

@media all and (max-width: 1024px) {
  h1 {
    font-size: 3.4rem; }
  h2 {
    font-size: 2.8rem; }
  h3 {
    font-size: 2rem; }
  h4 {
    font-size: 1.8rem; } }

@media all and (max-width: 485px) {
  h1 {
    font-size: 3rem; }
  h2 {
    font-size: 2.4rem; }
  h3 {
    font-size: 2rem; }
  h4 {
    font-size: 1.8rem; } }

button {
  background: #5f53c0;
  color: #fff;
  font-weight: 700;
  border: 0;
  border-radius: 6px;
  margin-top: 15px;
  padding: 16px 32px;
  font-size: 1.8rem;
  letter-spacing: .5px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  button:hover, button:focus, button:active {
    background: #8c7ed2;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  @media all and (max-width: 485px) {
    button {
      width: 100%;
      padding: 17px 30px; } }

.guess {
  width: 100vw;
  height: 100vh;
  background: url(/assets/img/pitch-bg.jpg) no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative; }

.game {
  width: 100%;
  height: 100vh;
  position: relative; }
  .game .logo {
    position: absolute;
    content: '';
    width: 170px;
    height: 43px;
    top: 35px;
    left: 20px;
    z-index: 100; }
    @media all and (max-width: 485px) {
      .game .logo {
        left: 15px;
        top: 30px; } }
    .game .logo img {
      max-width: 170px;
      height: auto; }
      @media all and (max-width: 485px) {
        .game .logo img {
          max-width: 115px; } }
  .game .welcome {
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .game .welcome.active {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .game .welcome .welcome__container {
      max-width: 1200px;
      margin: 0 auto;
      text-align: center;
      padding: 0 25px;
      z-index: 10; }
      .game .welcome .welcome__container .welcome__text {
        width: 100%;
        display: block;
        margin-bottom: 20px; }
        .game .welcome .welcome__container .welcome__text h1 {
          line-height: 1.4; }
        .game .welcome .welcome__container .welcome__text h3 {
          margin-top: 25px;
          opacity: .75; }
      .game .welcome .welcome__container button {
        background: #5f53c0; }
        .game .welcome .welcome__container button:hover {
          background: #8c7ed2; }
  .game #quiz {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: collapse;
    z-index: 1; }
    .game #quiz.active {
      width: 100%;
      height: 100%;
      opacity: 1;
      visibility: visible;
      padding: 100px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      @media all and (max-width: 1024px) {
        .game #quiz.active {
          padding: 100px 20px 50px 20px;
          width: 100vw; } }
      @media all and (max-width: 485px) {
        .game #quiz.active {
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start; } }
    .game #quiz .question__box {
      color: #fff;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      display: none;
      z-index: 10; }
      .game #quiz .question__box h2 {
        margin-bottom: 30px; }
      .game #quiz .question__box .question__container {
        width: auto;
        max-width: 800px;
        margin: 0 auto;
        text-align: center; }
        .game #quiz .question__box .question__container .question {
          width: 100%; }
        .game #quiz .question__box .question__container .current__question {
          margin-bottom: 30px; }
          .game #quiz .question__box .question__container .current__question h3 {
            opacity: .75; }
        .game #quiz .question__box .question__container .options {
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          margin: 40px auto;
          max-width: 400px; }
          @media all and (max-width: 485px) {
            .game #quiz .question__box .question__container .options {
              margin: 40px auto 20px auto; } }
      .game #quiz .question__box.active {
        width: 80%;
        height: auto;
        padding: 25px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .game #quiz .question__box.active .question,
        .game #quiz .question__box.active .options {
          -webkit-animation: zoomIn;
          animation: zoomIn;
          -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s; }
        @media all and (max-width: 1024px) {
          .game #quiz .question__box.active {
            width: 100%; } }
        @media all and (max-width: 485px) {
          .game #quiz .question__box.active {
            padding: 0; } }
  .game .options input[type="radio"] {
    opacity: 0;
    position: absolute;
    width: 400px;
    height: 86px;
    margin: 10px 0;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }
    @media all and (max-width: 485px) {
      .game .options input[type="radio"] {
        width: 255px;
        max-width: 255px;
        height: 70px;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0); } }
  .game .options label {
    max-width: 500px;
    width: 100%;
    height: auto;
    display: inline-block;
    background-color: #fff;
    border-bottom: 6px solid #5f53c0;
    color: #5f53c0;
    margin: 10px 0;
    padding: 20px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 40px;
    border-radius: 25px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    @media all and (max-width: 485px) {
      .game .options label {
        max-width: 255px;
        width: 255px;
        padding: 12px 20px;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0); } }
    .game .options label:after {
      content: '';
      height: 50px;
      width: 50px;
      background: #333;
      border-radius: 50%; }
  .game .options label:hover {
    background-color: #dfd; }
  .game .options input[type="radio"]:checked + label {
    background: #5f53c0;
    border-color: #fff;
    color: #fff; }
  .game .options input[type="radio"]:hover + label {
    background: #5f53c0;
    color: #fff;
    outline-offset: -2px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .game .score__box {
    color: #fff; }
  .game .results {
    color: #fff;
    -webkit-transition: opacity 1.5s linear;
    -o-transition: opacity 1.5s linear;
    transition: opacity 1.5s linear;
    display: none; }
    .game .results.active {
      display: block;
      width: 100%;
      height: 100%;
      opacity: 1;
      visibility: visible; }
    .game .results .results__container {
      max-width: 1000px;
      width: 100%;
      padding: 100px 50px 20px 50px;
      margin: 0 auto;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      @media all and (max-width: 485px) {
        .game .results .results__container {
          padding: 100px 25px 20px 25px; } }
      .game .results .results__container .score__container {
        width: 60%;
        padding: 20px;
        margin-bottom: 30px;
        color: #fff;
        display: none;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        z-index: 10; }
        @media all and (max-width: 1024px) {
          .game .results .results__container .score__container {
            width: 100%; } }
        .game .results .results__container .score__container.active {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-animation: fadeIn;
          animation: fadeIn;
          -webkit-animation-duration: 2s;
          animation-duration: 2s; }
        .game .results .results__container .score__container h2 {
          color: #fff; }
        .game .results .results__container .score__container .scorebox {
          margin-left: 15px;
          border-bottom: 2px solid #fff; }
          .game .results .results__container .score__container .scorebox h2 {
            padding-bottom: 3px; }
        .game .results .results__container .score__container p {
          width: 100%;
          display: inline-block;
          margin-top: 20px;
          line-height: 1.6; }
        .game .results .results__container .score__container button {
          width: auto;
          display: inline-block;
          margin-top: 30px;
          font-weight: 600;
          padding: 15px 30px; }
          @media all and (max-width: 485px) {
            .game .results .results__container .score__container button {
              width: 100%;
              padding: 17px 30px; } }
      .game .results .results__container .questions__container {
        width: 100%;
        -webkit-animation: fadeInUp;
        animation: fadeInUp;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        z-index: 10; }
      .game .results .results__container button {
        background: #5f53c0; }
        .game .results .results__container button:hover {
          background: #8c7ed2; }
      .game .results .results__container .result__question {
        background: #232C4C;
        max-width: 100%;
        padding: 25px 40px 25px 25px;
        margin: 30px auto;
        border-left: 4px solid;
        text-align: left;
        position: relative; }
        @media all and (max-width: 768px) {
          .game .results .results__container .result__question {
            padding: 55px 25px 25px 25px; } }
        .game .results .results__container .result__question:first-child {
          margin: 0 auto 30px auto; }
        .game .results .results__container .result__question:after {
          position: absolute;
          content: '';
          width: 30px;
          height: 30px;
          background-size: cover;
          background-position: center center;
          top: 50%;
          margin-top: -15px;
          right: 30px; }
          @media all and (max-width: 768px) {
            .game .results .results__container .result__question:after {
              top: 30px;
              left: 30px;
              right: inherit;
              width: 25px;
              height: 25px; } }
        .game .results .results__container .result__question.correct {
          border-color: #27c190; }
          .game .results .results__container .result__question.correct:after {
            background: url(/assets/img/tick.svg); }
        .game .results .results__container .result__question.incorrect {
          border-color: #ff0844; }
          .game .results .results__container .result__question.incorrect:after {
            background: url(/assets/img/cross.svg); }
        .game .results .results__container .result__question .resultbox {
          max-width: 85%; }
          @media all and (max-width: 768px) {
            .game .results .results__container .result__question .resultbox {
              max-width: 100%; } }
          .game .results .results__container .result__question .resultbox span {
            font-size: 1.8rem;
            line-height: 1.6;
            font-weight: 600;
            margin-bottom: 25px;
            display: block; }
          .game .results .results__container .result__question .resultbox p {
            margin-bottom: 10px; }
      .game .results .results__container .correct__answer {
        margin: 10px 0 0 0; }
  .game .progress__bar {
    display: none;
    height: 15px;
    position: relative;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; }
    .game .progress__bar.block {
      display: block;
      max-width: 100%;
      height: 15px;
      border-radius: 0 10px 10px 0;
      background-image: -webkit-linear-gradient(315deg, #232C4C 0%, #4a3e93 50%, #8c7ed2 100%);
      background-image: -o-linear-gradient(315deg, #232C4C 0%, #4a3e93 50%, #8c7ed2 100%);
      background-image: linear-gradient(-225deg, #232C4C 0%, #4a3e93 50%, #8c7ed2 100%);
      z-index: 100;
      -webkit-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  to {
    opacity: 1; } }

.animate__fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

.animate__zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }

.animate__fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }
